.DS_Store
**/.DS_Store

Frontend/node_modules/
Frontend/.expo/
Frontend/.env
Frontend/dist/
Frontend/output/
Frontend/ios/build/
Frontend/android/

Backend/node_modules/
Backend/dist/
Backend/.env

# Secrets
Frontend/google-service-account.json
